html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.map {
  width: 99%;
  height: 99%;
  border: 1px solid #BCE8F1;
}
.map:-moz-full-screen {
  width: 100%;
  height: 100%;
}
.map:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
.map:-ms-fullscreen {
  width: 100%;
  height: 100%;
}
.map:fullscreen {
  width: 100%;
  height: 100%;
}
.map-title {
  position: absolute;
  top: .5em;
  left: .5em;
  z-index: 1;
  text-align: left;
  font-size: 1.1em;
  color: white; text-shadow: 0 0 0.3em #000, 0 0 0.3em #000,
  0 0 0.3em #000;
}

.ol-zoom, .ol-full-screen {
  top: 2.5em;
}
.layer-switcher {
  top: 4.5em;
}