html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.map {
  width: 99%;
  height: 99%;
  border: 1px solid #BCE8F1;
}
.map:-moz-full-screen {
  width: 100%;
  height: 100%;
}
.map:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
.map:-ms-fullscreen {
  width: 100%;
  height: 100%;
}
.map:fullscreen {
  width: 100%;
  height: 100%;
}
.map-title {
  position: absolute;
  top: 1.5em;
  left: 2em;
  z-index: 1;
  text-align: left;
  font-size: 1.1em;
  color: white; text-shadow: 0 0 0.3em #000, 0 0 0.3em #000,
  0 0 0.3em #000;
}

.ol-rotate {
  top: 2em;
  right: 2.3em;
}
.ol-full-screen {
  top: 4em;
  right: 2.3em;
}
.ol-zoom {
  top: 6em;
  right: 2.3em;
  left: auto;
}
.layer-switcher {
  top: 9.6em;
  right: 2.3em;
}
.ol-scale-line {
  background: rgba(0,60,136,.7);
  bottom: 1.5em;
  left: 2.5em;
}